// Header

.navbar {
  @include breakpoint(md) {
    height: 60px;
  }
}

.navbar-fixed-top {
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 1px -1px #f6f6f6;
}
.navbar-brand {
  position: relative;
  padding: 1.25rem 15px 0;

  img {
    height: 2.75rem;
  }

  @include breakpoint(md) {
    padding-top: 1.5rem;

    img {
      height: 3rem;
    }
  }
}

.navbar-toggle {
  margin-right: 5px;
}

.navbar-nav {
  @include breakpoint(md) {
    float: right;
  }

  > li > a {
    text-transform: uppercase;

    @include breakpoint(md) {
      padding: 20px 15px;
    }
  }
}

.contact-btn {
  @include breakpoint(md) {
    margin: 1.25rem 0 0 1rem;
    float: right;
  }
}

// .navbar-collapse {
//   display: flex;
//   flex-direction: column;
// }
