@mixin triangle {
  position: relative;
  text-align: center;

  &:after {
    content:'';
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $rb-blue;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @if $min == xs {
      @media (max-width: ($screen-sm - 1)) { @content; }       // Mobile Devices
    }

    @else if $min == sm {
      @media (min-width: $screen-sm) { @content; }       // Tablet Devices
    }

    @else if $min == md {
      @media (min-width: $screen-md) { @content; }       // Desktops
    }

    @else if $min == lg {
      @media (min-width: $screen-lg) { @content; }      // Widescreen Desktops
    }

    // Otherwise pass a warning to the compiler as to the appropriate options
    @else {
      @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg";
    }
  }
  @else if $type == number {
    // Allow for custom parameters for min and max size
    $query: "all" !default;
    @if      $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; } // set both min and max
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; } // set just min
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; } // set just max
    @media #{$query} { @content; }
  }
}

@mixin plain-link($color: #ffffff) {
  &:hover,
  &:focus {
    color: $color;
    text-decoration: none;
  }
}
