// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

//== Branding
//
//##

$rb-blue:         #3FA2F7;
$blue-text:       #297FCA;
$section-gray-bg: #f7f7f7;
$brand-primary:   $rb-blue;
$brand-success:   #77c720;
$footer-color:    #919496;
$gray-base:       #181818;

//== Components
//
//##

$border-radius-base:        2px !default;
$border-radius-large:       3px !default;
$border-radius-small:       1px !default;

//== Navbar
//
//##

$navbar-height:                   55px !default;
$navbar-default-color:            #333333;
$navbar-default-bg:               fade-out(#ffffff, 0.05);

$navbar-default-link-color:       #333333;
$navbar-default-link-hover-color: #111111;

$navbar-border-radius:            0px;
$grid-float-breakpoint: 992px !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ffffff !default;
$navbar-default-toggle-icon-bar-bg:        #333333 !default;
$navbar-default-toggle-border-color:       #ffffff !default;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            #444 !default;
