// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

//== Branding
//
//##

$rb-blue: #007dff;


//== Navbar
//
//##

$navbar-default-color:            #ffffff;
$navbar-default-bg:               $rb-blue;

$navbar-default-link-color:       #ffffff;
$navbar-default-link-hover-color: #f9f9f9;

$navbar-border-radius:            0px;
