// Billboard

.billboard {
  position: relative;
  padding: 7rem 1.25rem;
  background: url(https://rb-associates.imgix.net/park-plaza.jpg?w=2560) center center no-repeat;
  background-size: 100% 100%;
  text-transform: uppercase;
  text-align: center;

  br {
    display: none;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade-out(#000, 0.3);
  }

  @include breakpoint(md) {
    padding: 22rem 12rem;

    br {
      display: block;
    }
  }

  .billboard-title {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 1px 0 fade-out(#000000, 0.2);

    @include breakpoint(md) {
      font-size: 5rem;
    }
  }

  .billboard-subtitle {
    z-index: 1;
    position: relative;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 1.25;
    color: #ffffff;
    text-shadow: 0 1px 0 fade-out(#000000, 0.2);

    @include breakpoint(md) {
      font-size: 2.25rem;
    }
  }

  .billboard-cta {
    z-index: 1;
    position: relative;
    margin: 2.5rem 0 0;
    padding: 1.125rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .btn-primary {
    @include breakpoint(sm) {
      margin-left: 1.5rem;
    }
  }
}

.featured-property {
  position: relative;
  margin-bottom: 2rem;

  img {
    width: 100%;
  }

  .inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background: fade-out(#000, 0.5);

    @include breakpoint(md) {
      padding: 1rem;
    }
  }
}

.featured-property-title {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  color: #ffffff;
  text-transform: uppercase;

  @include breakpoint(md) {
    font-size: 2rem;
  }
}

.featured-property-link {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  @include plain-link();

  @include breakpoint(md) {
    font-size: 1.5rem;
  }
}
