.big-background {
  z-index:550;
  height: 100%;
  min-height:250px;
  position:relative;
  overflow:hidden;
  background: url('http://rb-associates.imgix.net/locust-manor.jpg?h=600') center center no-repeat;
  background-size: cover;

  @include breakpoint(md) {
    display: flex;
    min-height: 400px;
  }

  @include breakpoint(lg) {
    min-height: 450px;
  }

  .mbYTP_wrapper {
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }

  .container {
    position: static !important;

    @include breakpoint(md) {
      position: relative !important;
    }
  }
}

.property__details {
  position: absolute;
  left: 0;
  bottom: 3rem;
  padding: 1rem;
  display: inline-block;
  color: #ffffff;
  background: fade-out(#000000, 0.4);

  @include breakpoint(md) {
    left: 15px;
  }
}

.property__details__title {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.property__details__specs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;

  .fa {
    display: inline-block;
    margin-right: 0.75rem;
  }

  .location {
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .price {
    width: 50%;
    font-size: 2rem;
    color: #ffffff;
  }

  .availibility {
    width: 50%;

    .amount {
      margin-left: 0.75rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.125rem;
      height: 2.125rem;
      font-size: 1.25rem;
      border-radius: 50%;
      background: #222222;
    }
  }

  .footage {
    display: none;
  }
}

.properties_details {
  background: $section-gray-bg;

  .section {
    margin-top: 2rem;
    padding: 2rem;
    background: #ffffff;

    @include breakpoint(md) {
      margin-top: 3rem;
      padding: 3rem;
    }
  }

  .table {
    margin: 0;
  }

  .section__title {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    margin: 0 0 2rem;

    @include breakpoint(md) {
      flex-direction: column;
      font-size: 2.25rem;
    }

    img {
      height: 2.25rem;
      display: inline-block;
      margin-right: 0.75rem;

      @include breakpoint(md) {
        height: 4rem;
        margin: 0 0 0.75rem 0;
      }
    }
  }

  .section__title:after {
    display: none;
  }
}

.space {
  padding: 1rem;
  border: 1px solid $brand-primary;

  .table > tbody > tr > th {
    padding-left: 0;
  }
}

.space__title {
  margin: 0 0 1rem;
  color: $brand-primary;
}

.property-card {
  display: block;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  @include plain-link();

  &:hover {
    border-color: $brand-primary;
  }
}

.property-card-img {
  width: 100%;
  max-height: 20rem;
  border-radius: 2px 2px 0 0;
}

.property-card-title {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.75rem;
  text-align: center;
  color: $gray-darker;
}

.property-cards {
  .col-md-4 {
    margin-bottom: 2rem;
  }
}
